@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mobile{
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.left-column,
.right-column {
    width: 48%;
    padding: 20px;
    height: 100vh; /* Sayfanın yüksekliği kadar genişletir */
    margin: 0; /* Margin'ları sıfırlar */
}

.left-column {
    background-image: url(img/bg.jpg);
    background-size: cover; /* Resmi div boyutuna sığdırmak için */
    background-repeat: no-repeat; /* Resmi yinelemeyi kapatmak için */
    color: #fff;
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.image-container img {
    max-width: 50%;
    border-radius: 30px;
    height: auto;
}

.right-column {
    background-color: #E8E6E6;
    color: #fff;
}

#buttons {
    display: flex;
    flex-direction: column; /* Butonları dikey olarak sırala */
    align-items: center; /* Yatayda ortala */
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh; 
}

#b {
    margin: 10px 0; /* Butonlar arasında boşluk bırak */
    width: 80%;
    border-radius: 10px;
    border: 0.1px solid #000;
    height: 6.5vh;
    background-color: white;
    transition: background-color 0.3s ease;
}
#b:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


#me {
    position: relative;
    left: 19vh;
    top: 10vh;
    color: black;
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
}


@media screen and (max-width: 860px) {
    .container {
        flex-direction: column;
    }

    .left-column{
        width: 100%;
    }
    .right-column {
        display: none;
    }
    .image-container {
        justify-content: center; 
        align-items: center; 
        height: 35%; 
    }
    
    .image-container img {
        max-width: 55%;
        border-radius: 30px;
        height: auto;
        z-index: 11;
    }

    #mobile{
        position: relative;
        display: inline-block;
        background-color: white;
        border-radius: 30px;
        height: 70%;
        width: 100%;
        top: -150px;
        z-index: 0;
    }
    #buttonsm {
        display: flex;
        flex-direction: column; /* Butonları dikey olarak sırala */
        align-items: center; /* Yatayda ortala */
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 85vh; 
    }
    #mb {
        margin: 10px 0; /* Butonlar arasında boşluk bırak */
        width: 47vh;
        border-radius: 10px;
        border: 0.1px solid #000;
        height: 6.5vh;
        background-color: white;
        transition: background-color 0.3s ease;
    }
    #mb:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}


@media screen and (max-width: 1030px) {
    .container {
        flex-direction: column;
    }

    .left-column{
        width: 100%;
    }
    .right-column {
        display: none;
    }
    .image-container {
        position: relative;
        justify-content: center; 
        align-items: center; 
        height: 15vh; 
        top: 15%;
    }
    
    .image-container img {
        max-width: 55%;
        border-radius: 30px;
        height: auto;
        z-index: 11;
    }

    #mobile{
        position: relative;
        display: inline-block;
        background-color: white;
        border-radius: 30px;
        height: 60%;
        width: 100%;
        top: 10%;
        z-index: 0;
    }
    #buttonsm {
        display: flex;
        flex-direction: column; /* Butonları dikey olarak sırala */
        align-items: center; /* Yatayda ortala */
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 120%; 
    }
    #mb {
        margin: 10px 0; /* Butonlar arasında boşluk bırak */
        width: 90%;
        border-radius: 10px;
        border: 0.1px solid #000;
        height: 6.5vh;
        background-color: white;
        transition: background-color 0.3s ease;
    }
    #mb:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}


